  .placeholder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: transparent;
  }

  /* Responsive Adjustments */
@media (max-width: 1024px) {
    .placeholder {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 768px) {
    .placeholder {
        width: 20px;
        height: 20px;
    }
}