.periodic-table {
    display: grid;
    grid-template-columns: repeat(19, 60px); /* 18 columns, adjust the width */
    grid-template-rows: repeat(10, 60px); /* 10 rows, adjust the width */
    gap: 2px;
    justify-content: center;
    margin: 20px;
    align-items: center;
  }
  

/* Responsive Styles */
@media (max-width: 1024px) {
    .periodic-table {
        grid-template-columns: repeat(19, 45px);
        grid-template-rows: repeat(10, 45px);
        gap: 1px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .periodic-table {
        grid-template-columns: repeat(19, 20px);
        grid-template-rows: repeat(10, 20px);
        gap: 1px;
        width: 100%;
    }
}