  .guessed-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: white;
    color: black
  }

  .unguessed-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: grey;
    color: black
  }
  
.number {
    font-size: 12px;
  }
  
  .symbol {
    margin-top: -6px;
    margin-bottom: -6px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .name {
    font-size: 9px;
  }
  
  .mass {
    font-size: 12px;
  }

  /* Responsive Adjustments */
@media (max-width: 1024px) {
    .guessed-element, .unguessed-element {
        width: 45px;
        height: 45px;
    }
    .number {
        font-size: 10px;
    }
    .symbol {
        font-size: 20px;
    }
    .name {
        font-size: 0px;
    }
}

@media (max-width: 768px) {
    .guessed-element, .unguessed-element {
        width: 20px;
        height: 20px;
    }
    .number {
        font-size: 6px;
    }
    .symbol {
        font-size: 8px;
    }
    .name {
        font-size: 0px;
    }
}